@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-default:
    -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
}

@theme {
  --color-primary: #f9fafb;
  --color-primary-dark: #373739;
}

@layer base {
  html,
  body,
  #root {
    @apply font-default h-full bg-blue-900 text-zinc-800 antialiased select-none dark:bg-slate-900 dark:text-gray-100;
  }
}

@layer components {
  button {
    cursor: pointer;
    @apply focus:outline-none active:scale-95;
  }
  a {
    cursor: pointer;
  }
}

@layer utilities {
  .glass-bg {
    @apply backdrop-blur-xl;
    background: radial-gradient(
      circle at 100% 0px,
      rgba(255, 255, 255, 0.85) 0px,
      rgba(245, 245, 245, 0.341) 183%
    );
    background-color: rgba(0, 0, 0, 0);
  }

  .shadow-card {
    @apply shadow-[10px_20px_20px] shadow-black/15 dark:shadow-black/50;
  }
  @media (prefers-color-scheme: dark) {
    .glass-bg {
      @apply backdrop-blur-xl;
      background: radial-gradient(
        circle at 100% 0px,
        rgba(17, 24, 39, 0.85) 0px,
        rgba(31, 41, 55, 0.34) 183%
      );
      background-color: rgba(0, 0, 0, 0);
    }
  }
  .shadow-morph {
    box-shadow:
      inset 2px 3px 4px rgba(0, 0, 0, 0.4),
      inset -2px -3px 4px rgba(255, 255, 255, 0.4);
  }
}
